@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: 'Viga';
}

h2 {
    text-align: center;
    padding: 20px;
}

nav {
    position: fixed;
    width: 100%;
}

nav ul {
    background-color: #fffa65;
    display: flex;
    list-style: none;
    height: 60px;
    font-size: 22px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}

nav ul li {
    margin-right: 10px;
}

section#home {
    background-image: url('../imagens/fundoTecnologia.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    padding-left: 100px;
}

section#sobre {
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
}

section#projetos .conteudo {
    display: flex;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
}

section#projetos .card {
    width: 350px;
    border: 2px solid black;
    border-radius: 15px;
}

section#projetos .card .card-header img {
    width: 345px;
    border-radius: 12px 12px 0px 0px;
}

section#projetos .card .card-body {
    padding: 10px;
}

section#projetos .card .card-body p {
    margin-left: 5px;
}

section#projetos .card .card-body .tags ul {
    display: flex;
    list-style: none;
}

section#projetos .card .card-body .tags ul li {
    padding: 3px;
    margin-left: 3px;
    background-color: rgb(243, 248, 178);
    border-radius: 8px;
}

section#contato {
    text-align: center;
}

section#contato form {
   display: flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
}

section#contato form input {
    margin: 5px;
    width: 250px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
}

section#contato form textarea {
    margin: 5px;
    width: 350px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

section#contato form button.btn-primary {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

#rodape {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 15px;
}

#rodape .redes-sociais ul {
    display: flex;
    list-style: none;
}

#rodape .redes-sociais ul li {
    margin-right: 15px;
}

#rodape .redes-sociais ul li a {
    color: white;
    text-decoration: none;
}